.logo {
    /* logo-bez-tla 1 */
      display: block;
      margin-left: auto;
       margin-right: auto;
      /* margin-top:-12rem; */
      transform: scale(0.8);
      filter: drop-shadow(-11px 11px 7px rgba(0, 0, 0, 0.63));
  }

.light-dark{
    background-color: rgb(56, 56, 56);
}